<!-- templates/index.html -->
<html>

<head>
  <title>DeepLens</title>

  <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />

  <link rel="stylesheet" href="static/vendor/jquery.fileupload.css" />
  <link rel="stylesheet" href="static/vendor/jquery.fileupload-ui.css" />

  <link rel="stylesheet" href="static/style.css?rand={{rand}}" />

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script
    src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
    integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
    crossorigin="anonymous"></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"
  ></script>
  <script src="static/vendor/jquery.fileupload.js"></script>
  <!-- <script src="static/vendor/jquery.fileupload-video.js"></script>
  <script src="static/vendor/jquery.fileupload-ui.js"></script> -->
  <script src="static/app.js?rand={{rand}}"></script>
</head>

<body>
  <div id="images"></div>

  <div id="slider-container">
    <input type="range" min="0" max="1" value="0" class="slider" id="slider">
  </div>

  <!-- <button id="left">Left</button>
  <button id="right">Right</button> -->
  <div>Frame: <span id="frame-num">0</span></div>
  <input id="fileupload" type="file" name="file" data-url="/upload">
</body>

</html>