.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;   
    background: #aaa;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #20c997;
    cursor: pointer;
}

.slider::-webkit-slider-thumb:hover, .slider::-moz-range-thumb:hover {
    background: #12b886;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #20c997;
    cursor: pointer;
}

#slider-container {
    margin: 20px;
    display: block;
    width: 300px;
}
